body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  color: white;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-top: -2px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 77px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger-menu {
    display: flex;
  }
}
